@model IEnumerable<Model.config_majorModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/table.css" rel="stylesheet" />
</head>
<body>
        <table width="100%">
            <tr>
                <td>
                    <font color="black">
                        您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--职位设置
                    </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    @Html.ActionLink("添 加", "Add", new { }, new { @class = "BUTTON_STYLE1",
                   style = "background-color:gainsboro;border-color:lightslategrey;"})
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td width="22%" class="TD_STYLE1">
                    职位分类编号
                </td>
                <td width="23%" class="TD_STYLE1">
                    职位分类名称
                </td>
                <td width="26%" class="TD_STYLE1">
                    职位编号
                </td>
                <td width="24%" class="TD_STYLE1">
                    职位名称
                </td>
                <td width="5%" class="TD_STYLE1">
                    删除
                </td>
            </tr>
            @foreach (var item in Model) {
            <tr>
                <td class="TD_STYLE2">
                    @Html.DisplayFor(modelItem => item.major_kind_id)
                </td>
                <td class="TD_STYLE2">
                    @Html.DisplayFor(modelItem => item.major_kind_name)
                </td>
                <td class="TD_STYLE2">
                    @Html.DisplayFor(modelItem => item.major_id)
                </td>
                <td class="TD_STYLE2">
                    @Html.DisplayFor(modelItem => item.major_name)
                </td>
                <td class="TD_STYLE2">
                    @Html.ActionLink("删除", "Delete", new { id = item.mak_id }, new { onclick = "return confirm('确认删除?')" })
                </td>
            </tr>
        }
        </table>
        <p>
</body>
</html>
